/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #800080;
  --text-on-primary: white;

  --loader-width: 50px;
  --loader-animation-duration: 700ms;
  box-sizing: inherit;
  color:theme('colors.primaryText');
  background-color: theme('colors.primaryBackground');
}

body {
  
  line-height: 1.7;
  font-size: 0.9rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1{
  color: theme('colors.linkstashPurple');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



  /* Original version from 'react-confirm-alert/src/react-confirm-alert.css' */
  body.react-confirm-alert-body-element {
    overflow: hidden;
  }
  
  .react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  .react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.05s 0.02s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.05s 0.02s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.05s 0.02s forwards;
    animation: react-confirm-alert-fadeIn 0.05s 0.02s forwards;
  }
  
  .react-confirm-alert-body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 600;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: theme('colors.white');
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
  }
  
  .react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .react-confirm-alert-body > h1 {
    margin-top: 0;
  }
  
  .react-confirm-alert-body > h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .react-confirm-alert-button-group > button {
    outline: none;
    background: var(--primary-color);
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color:var(--text-on-primary);
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  
  @-webkit-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes react-confirm-alert-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* END REACT CONFIRM CSS */





@layer components{
  .tag-autocomplete-item{
    @apply hover:cursor-pointer font-light bg-blue-100 mx-1 px-1 rounded border-purple-200  border-2 before:font-medium hover:bg-purple-300
  }
  .screen{
    @apply  m-auto max-w-[1150px] w-screen grid p-3;
    grid-template-columns: 2fr 96fr 2fr;
    
  }
  .span-width{
    @apply border-0 col-span-3 
  }

  .content{
    @apply   border-0 text-wrap overflow-x-clip 
  }

  .left-spacer, .right-spacer{
    @apply  text-white
  }

  a:hover{
    @apply underline text-linkstashPurple 
  }
  
  .form-input{
    @apply placeholder:italic placeholder:text-slate-300 drop-shadow text-black disabled:text-slate-400 disabled:shadow-none disabled:bg-slate-200 disabled:border-slate-200 py-1
  }

  .form-label{
    @apply text-slate-400 focus:text-black  has-[:focus]:text-black transition-all ease-in duration-300
  } 

  .submit-button{
    @apply bg-linkstashPurple text-white py-1 px-3 rounded
  } 

  .small-button{
    @apply bg-linkstashPurple text-white px-3 rounded
  } 

  .button{
    @apply text-linkstashPurple px-1 rounded
  } 
  .content{
    @apply flex flex-col items-center justify-between 
  }

  .react-aria-GridList {
    @apply text-2xl
  }
  .react-aria-GridListItem{
    @apply text-green-900
  }
  .big{
    @apply bg-white
  }



  .react-icons{
    @apply inline hover:text-linkstashPurple 
  }

  /* Archive related styles */
  .readability{
    @apply text-xl p-7 font-sans max-w-5xl 
  }
  .readability p{
    @apply p-5
  }
  .readability a{
    @apply text-blue-700 underline
  }

  .readability img{
    @apply border-2 drop-shadow
  }

  .readability pre{
    @apply border-2 drop-shadow bg-gray-300 font-mono
  }
  .readability code{
    @apply bg-gray-300 text-black font-mono
  }

  .readability h1, h2, h3{
    @apply font-bold
  }
}