/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #800080;
  --text-on-primary: white;

  --loader-width: 50px;
  --loader-animation-duration: 700ms;
  box-sizing: inherit;
}

body {
  
  line-height: 1.7;
  font-size: 0.9rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1{
  color: theme('colors.linkstashPurple');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer components{
  .tag-autocomplete-item{
    @apply hover:cursor-pointer font-light bg-blue-100 mx-1 px-1 rounded border-purple-200  border-2 before:font-medium hover:bg-purple-300
  }
  .screen{
    @apply  m-auto max-w-[1150px] w-screen grid p-3;
    grid-template-columns: 2fr 96fr 2fr;
    
  }
  .span-width{
    @apply border-0 col-span-3 
  }

  .content{
    @apply   border-0 text-wrap overflow-x-clip 
  }

  .left-spacer, .right-spacer{
    @apply  text-white
  }

  a:hover{
    @apply underline
  }
  
  .form-input{
    @apply placeholder:italic placeholder:text-slate-300 drop-shadow text-black disabled:text-slate-400 disabled:shadow-none disabled:bg-slate-200 disabled:border-slate-200 py-1
  }

  .form-label{
    @apply text-slate-400 focus:text-black  has-[:focus]:text-black transition-all ease-in duration-300
  } 

  .submit-button{
    @apply bg-linkstashPurple text-white py-1 px-3 rounded
  } 
  .button{
    @apply text-linkstashPurple px-1 rounded
  } 
  .content{
    @apply flex flex-col items-center justify-between 
  }

  .react-aria-GridList {
    @apply text-2xl
  }
  .react-aria-GridListItem{
    @apply text-green-900
  }
  .big{
    @apply bg-white
  }



  .react-icons{
    @apply inline hover:text-linkstashPurple 
  }

}