@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-color: purple;
  --text-on-primary: white;
}

body {
  line-height: 1.7;
  margin: 0;
  font-family: "Open Sans";
  font-weight: normal;
  /* font-family: "Lato"; */
  /* font-family:  "Roboto", "Segoe UI", "Helvetica", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color: theme('colors.linkstashPurple');
}
/* p{
  font-family: "Lato";
}

a{
  font-family: "Roboto";
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_form{
  align-items: center;
  align-content: center;
  align-self: center;
  margin: auto;
  width: 100%;
  max-width: fit-content;
}

.login_form * {
  display: block;
}

.login_form .form-input{
  border: .05rem solid #bcc3ce;
  width: 350px;
}

.login_form .btn {
  margin-top: 0.5rem;
  padding-inline: 1.5rem;
  padding-block: 0.25rem;
   background-color:var(--primary-color) ;
   border-color: var(--primary-color);
   color: var(--text-on-primary);

   
}
/* .form-group, .form-label, .content-area-header{
  display: block;
} */

